.about {
  padding: 50px 0;
  background-image: url("../img/bg3.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 50px;
}

.about-description {
  line-height: 1.5;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
}

.about__counters {
  justify-content: unset;
  align-items: unset;
}

.counters__item {
  width: 20%;

  h4 {
    font-size: 40px;
    color: #FF9E54;
    margin-bottom: 10px;
    font-weight: normal;
  }
  p {
    font-weight: bold;
  }
}