.ads-block {
  background-image: url("../img/ads-block.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  width: 100%;
  height: 450px;
}